body {
    background-color: aliceblue;
}

.title {
    text-align: center;
    color: darkslategray;
}

.text {
    color: darkslategrey;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
}

code {
    background-color: cornsilk;
    border-radius: 4px;
}

.title:hover {
    color: darkgray;
}